.menu-container {
    background-color: skyblue;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-input {
    width:600px;
    height: auto;
    margin: 20px;
    padding: 10px;
    margin-right: 0;
    border-radius: 20px 0 0 20px;
    border-style: none;
}

.search-input::placeholder{
    padding: 10px;
    font-style: italic
}

.search-button {
    width: 100px;
    height: 35.5px;
    border-style: none;
    background-color: rgb(255, 128, 0);
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 0 20px 20px 0;
}

img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

img:hover{
    cursor: pointer;
}




