.product-container{
    background-color: rgb(228, 228, 228);
    height: 900px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.product-item-container{ 
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 320px 320px 320px 320px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}